/* Especificidad: 001 */
body {
	color: #fff;
	background-color: rgb(36, 25, 59);

	font-family: Arial, sans-serif;
}

/* Especificidad: 001 */
nav {
	color: #fff;
	background-color: rgb(36, 25, 59);

	display: flex;
	gap: 1.5rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	border-radius: 2rem;
}

/* Especificidad: 002 */
nav a {
	color: #fff;
	background-color: rgb(36, 25, 59);
	font-weight: 900;
}

/* Especificidad: 012 */
nav a:hover {
	color: rgb(219, 219, 219);
}

/* Especificidad: 001 */
a {
	color: rgb(36, 25, 59);
	background-color: #fff;
	font-weight: 600;
}

/* Especificidad: 011 */
a:hover {
	color: rgb(62, 70, 114);
}

/* Especificidad: 001 */
div {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

/* Especificidad: 001 */
header {
	color: rgb(36, 25, 59);
	background-color: #fff;
	
	font-size: 1.5em;
	border-radius: 1em;
	margin-top: 1em;
}

/* Especificidad: 001 */
main {
	color: rgb(36, 25, 59);
	background-color: #fff;

	padding: 1.2em;
	border-radius: 1em;
	margin-top: 1em;
	margin-right: 1em;
}

/* Especificidad: 001 */
section {
	color: rgb(36, 25, 59);
	background-color: #fff;

	padding: 1.2em;
	border-radius: 1em;
	margin-top: 1em;
}

/* Especificidad: 001 */
footer {
	color: rgb(36, 25, 59);
	background-color: #fff;
	
	padding: 0.5em;
	border-radius: 1em;
	margin-top: 1em;
}

/* Especificidad: 001 */
h1 {
	text-align: center;
	text-transform: uppercase;
}

/* Especificidad: 001 */
h2 {
	color: #fff;
	background-color: rgb(56, 32, 109);
	
	padding: 0.1em;
	text-align: center;
	border-radius: 1.5em;
	font-size: 1.4em;
}

/* Especificidad: 001 */
img {
	padding: 0.5em;
	border-radius: 4em;
}

/* Especificidad: 001 */
video {
	padding: 0.5em;
	border-radius: 4em;
}
