/* Especificidad: 001 */
body {
	display: grid;
	grid-template-areas: 	'head 	head'
							'nav	nav'
							'main	section'
							'main	section'
							'footer	footer';	
}

/* Especificidad: 001 */
nav {
	grid-area: nav;
	justify-self: center;
}

/* Especificidad: 001 */
header {
	grid-area: head;
}

/* Especificidad: 001 */
main {
	grid-area: main;
}

/* Especificidad: 001 */
section {
	grid-area: section;
	display: flex;
	flex-direction: column;
}

/* Especificidad: 001 */
footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
}

/* Especificidad: 001 */
picture {
	display: flex;
	justify-content: center;
}

/* Especificidad: 001 */
video {
	align-self: center;
	justify-self: center;
}