/* Especificidad: 001 */
body {
	display: grid;
	grid-template-areas: 	'nav 	'
							'head	'
							'main	'
							'section'
							'footer	';	
}

/* Especificidad: 001 */
section {
	display: grid;
	grid-template: 16% 84% / 25% 25% 25% 25%;
	align-items: center;
}

/* Especificidad: 001 */
h2 {
	grid-column: 1/5;
}