/* Especificidad: 001 */
body {
	display: grid;
	grid-template-areas: 	'nav 	'
							'head	'
							'main	'
							'section'
							'footer	';	
}

/* Especificidad: 001 */
section {
	display: grid;
	grid-template: 10% 58% 30% / 33.33% 33.33% 33.33%;
	align-items: center;
}

/* Especificidad: 001 */
h2 {
	grid-column: 1/4;
}

/* Especificidad: 011 */
picture:last-of-type {
	grid-column: 1/4;
}

/* Especificidad: 022 */
picture:last-of-type img:last-of-type {
	border-radius: 0;
}